<div class="theme-copyright">
  Generated from <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a>
   | 
  Powered by <a href="http://nodejs.org/" target="_blank">Node.js</a>
   | 
  Hosted on <a href="https://github.com/sevenate/sevenate.github.io" target="_blank"><i class="fa fa-github"></i> GitHub</a>
</div>
<div class="theme-copyright">
  Theme by <a href="https://github.com/orderedlist/modernist" target="_blank">Steve Smith</a>
   | 
  Redesign by <a href="https://github.com/heroicyang/hexo-theme-modernist" target="_blank">Heroic Yang</a>
   | 
  Customized by <a href="<%- config.root %>" target="_blank"><%= config.author %></a>
</div>
<div class="copyright">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
  <% } %>
</div>
<div class="clearfix"></div>