<span class="title">
  <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
  <p><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></p>
</span>
<nav class="nav">
  <ul>
    <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
    <li><a href="//stackoverflow.com/users/1032261" title="Stack Overflow"><i class="fa fa-stack-overflow fa-2x"></i></a></li>
    <li><a href="//bitbucket.org/sevenate" title="Bitbucket"><i class="fa fa-bitbucket fa-2x"></i></a></li>
    <li><a href="//linkedin.com/in/levshoff" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    <li><a href="https://plus.google.com/+AndreyLevshov?rel=author" title="Google+"><i class="fa fa-google-plus fa-2x"></i></a></li>
    <li><a href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="Atom feed"><i class="fa fa-rss fa-2x"></i></a></li>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>